<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="container text-center">
<h1>About site</h1>
<div>This website for created for simple password generation.
    <br>
    It takes some settings, like length, the presence of uppercase letters, numbers and special characters and generates
    random password based on them.<br>
    Enjoy!
</div>
<br>
<div><h3>Created by:</h3>Emilia Chojak</div>
<br>
<div><h4>GitHub link:</h4><a href="https://github.com/emiliachojak" class="btn btn-success">CLICK</a></div>
<hr/>
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
</div>